* {
  margin: 0;
  padding: 0;
}
header {
  color: red;
  text-align: center;
}
footer {
  color: blue;
  text-align: center;
}
button {
  background-color: black;
  color: white;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  padding: 10px;
  border-bottom: 1px solid gray;
}
.active {
  color: green;
  text-decoration: line-through;
}
